<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="playlist">      
      {% for playlist in items %} {% if playlist.Title %}
      <h3>{{playlist.Title}}</h3>
        {% if playlist.Songs %} 
          {% for song in playlist.Songs %}
            <div class="song-wrapper">
              <div class="title">
                {% if song.Title %}<b>{{ song.Title}}</b> {% endif %}
                {% if song.Artist %}<i>{{ song.Artist }}</i> {% endif %}
              </div>
              {% if song.Link %}
              <div>
                <iframe
                  style="border-radius: 12px"
                  src="{{song.Link}}"
                  width="100%"
                  height="152"
                  frameborder="0"
                  allowfullscreen=""
                  allow="clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                  loading="lazy"
                ></iframe>
              </div> 
              {% endif %}
          {% endfor %}
        {% endif %} 
      {% endif %}
      <div>
        <a href="/playlist/{{playlist.PlaylistID}}">Edit playlist</a>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
